export BITBUCKET_URL=https://bitbucket.org
export BITBUCKET_USERNAME=you@example.com
export BITBUCKET_WORKSPACE=YOUR-WORKSPACE

# Mint: https://bitbucket.org/account/settings/app-passwords/
export BITBUCKET_TOKEN_CRED=PLACEHOLDER_FILL_ME
